.App {
  text-align: center;
  width: 100%;
  max-width: 100%;
}

.list_container {
  width: 100%;
  max-width: 100%;
  display: flex;
  /* flex-wrap: wrap; */
  /* border: 10px solid red; */
  padding: 1rem;
  
}

h1 {
  font-family: 'Bigelow Rules';
  font-size: 72px;
  color: #0ccac4;
}